{{> nav}}
<main>
  <form action="/register" method="POST">
    Username <input name="username" type="text">
    Password <input name="password" type="password">
    <input type="submit" id="register" value="Register">
  </form>
</main>